* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    /*border: 2px solid red*/
}

:root {
    --light-grey: #e5e7eb;
    --light-blue: #10a1e4e1
}

body,
.container {
    height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}


.container {
    display: grid;
    grid-template: 1fr / 300px 1fr;
}

.sidebar {
    background-color: var(--light-blue);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 12px 24px;

}

.dashboard {
    margin-bottom: 50px;
}

.dashboard,
.toolbar-entry {
    display: flex;
    align-items: center;
}

.toolbar-entry {
    margin-bottom: 20px;
}

.toolbar-1 {
    margin-bottom: 70px;
}

.sidebar-icon-medium,
.sidebar-icon-small {
    filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(345deg) brightness(107%) contrast(105%);
    margin-right: 20px;
}


.sidebar-icon-medium {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.sidebar-icon-small {
    height: 20px;
    width: 20px;
    color: white;
}

.search-icon,
.notification-icon,
.user-icon {
    height: 25px;
    width: 25px;
}

.user-icon-big {
    height: 50px;
    width: 50px;
}

.sidebar>.dashboard>a {
    font-size: 1.7rem;
}

.main-content-container {
    background-color: var(--light-grey);
    display: grid;
    grid-template: 200px 1fr / 1fr;
}

.header {
    background-color: white;
    box-shadow: 3px 1px 20px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template: 1fr 1.5fr / 1fr;
    gap: 15px;
    padding: 15px 60px 15px 40px;

}

.header-row-1,
.header-row-2,
.header-row-1>.left,
.header-row-1>.right,
.header-row-2>.left,
.header-row-2>.right {
    display: flex;
    align-items: center;
}

.header-row-1 {
    justify-content: space-between;
}

.header-row-1>.left,
.header-row-2>.left {
    flex-grow: 4;
    margin-right: 50px;
}

.header-row-1>.right>*,
.header-row-2>.right>* {
    margin-right: 20px;
}

.search-icon {
    margin-right: 15px;
}

.user-icon {
    height: 40px;
    width: 40px;
}

.header-row-1>.left>input#search {
    border: 0px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--light-grey);
    height: 30px;
    flex-grow: 0.8;
    color: black;
    font-size: 1rem;
}

.user-icon-big {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}

.header>.header-row-2>.left>.text>.user-first-line {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.header>.header-row-2>.left>.text>.user-main-line {
    font-weight: bold;
    font-size: 1.5rem;
}

.header>.header-row-2>.right>button {
    border: 0px;
    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px 30px;
}