* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    /*border: 2px solid red*/
}

:root {
    --light-grey: #E2E8F0;
    --light-blue: #10a1e4e1;
    --grey-text-color: #78716c;
    --shadow-bottom: 3px 1px 20px 8px rgba(0, 0, 0, 0.1)
}

body,
.container {
    height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}


.container {
    display: grid;
    grid-template: 1fr / 300px 1fr;
}

.sidebar {
    background-color: var(--light-blue);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 12px 24px;

}

.dashboard {
    margin-bottom: 50px;
}

.dashboard,
.toolbar-entry {
    display: flex;
    align-items: center;
}

.toolbar-entry {
    margin-bottom: 20px;
}

.toolbar-1 {
    margin-bottom: 70px;
}

.sidebar-icon-medium,
.sidebar-icon-small {
    filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(345deg) brightness(107%) contrast(105%);
    margin-right: 20px;
}


.sidebar-icon-medium {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.sidebar-icon-small {
    height: 20px;
    width: 20px;
    color: white;
}

.search-icon,
.notification-icon,
.user-icon {
    height: 25px;
    width: 25px;
}

.user-icon-big {
    height: 50px;
    width: 50px;
}

.sidebar>.dashboard>a {
    font-size: 1.7rem;
}



.header {
    background-color: white;
    box-shadow: var(--shadow-bottom);
    display: grid;
    grid-template: 1fr 1.5fr / 1fr;
    gap: 10px;
    padding: 10px 60px 10px 40px;

}

.header-row-1,
.header-row-2,
.header-row-1>.left,
.header-row-1>.right,
.header-row-2>.left,
.header-row-2>.right {
    display: flex;
    align-items: center;
}

.header-row-1 {
    justify-content: space-between;
}

.header-row-1>.left,
.header-row-2>.left {
    flex-grow: 4;
    margin-right: 50px;
}

.header-row-1>.right>*,
.header-row-2>.right>* {
    margin-right: 20px;
}

.search-icon {
    margin-right: 15px;
}

.user-icon {
    height: 40px;
    width: 40px;
}

.header-row-1>.left>input#search {
    border: 0px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--light-grey);
    height: 35px;
    flex-grow: 0.5;
    color: black;
    font-size: 1rem;
}

.user-icon-big {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}

.header>.header-row-2>.left>.text>.user-first-line {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.header>.header-row-2>.left>.text>.user-main-line {
    font-weight: bold;
    font-size: 1.5rem;
}

.header>.header-row-2>.right>button {
    border: 0px;
    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px 30px;
}

.main-content-container {
    background-color: var(--light-grey);
    display: grid;
    /*grid-template: 200px 1fr / 1fr;*/
    grid-template: 1fr 5fr / 1fr;
}

.main-content {
    padding: 30px;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    gap: 25px;
}

.main-content .projects-header,
.announcements .announcements-section-1 .announcement-header,
.announcements .announcements-section-2 .trending-header {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-content .card .card-icon {
    height: 25px;
    width: 25px;
}

.main-content .projects-container {
    display: grid;
    /*grid-template: repeat(3, 200px) / repeat(2, 450px);*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 30px;
}

.main-content .projects-container .card {
    padding: 20px 20px 20px 15px;
    background-color: white;
    box-shadow: var(--shadow-bottom);
    border-radius: 10px;
    border-left: 10px solid orange;
    display: grid;
    align-items: center;
}

.main-content .projects-container .card .project-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.main-content .projects-container .card .project-description {
    color: var(--grey-text-color);
    align-self: start;
}

.main-content .projects-container .card .icons-list {
    justify-self: end;
    align-self: end;
}

.main-content .projects-container .card .icons-list img {
    margin-left: 20px;
}

.announcements {
    display: grid;
    grid-template: 400px 400px / 330px;
    gap: 50px;
}

.announcements-section-1-container {
    padding: 40px 40px 20px 35px;

}

.announcements-section-1-container,
.announcements-section-2-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow-bottom);
}

.announcements-section-1-container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
}

.announcements-section-1-container .announcement-main-line {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;

}

.announcements-section-1-container .announcement-content {
    font-size: 0.9rem;
    color: var(--grey-text-color);
    margin-bottom: 5px;
    /*border-bottom: 1px solid var(--grey-text-color);*/
}

.trending-icon {
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.announcements-section-2-container {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    gap: 20px;
    padding: 20px 20px;
}

.announcement-2,
.announcement-3 {
    margin-top: 20px;
    border-top: 1px solid #e7e5e4;
    /*margin-bottom: 20px;*/

}

.announcement-2 .announcement-main-line,
.announcement-3 .announcement-main-line {
    margin-top: 20px;

}

.announcements-section-2-container .trending-entry {
    display: flex;
    align-items: center;
}

.trending-entry img {
    margin-right: 20px;
}

.trending-entry .trending-quote {
    color: var(--grey-text-color);
}